
<header id="inicio" class="alt">
  <h1><strong><a >Proveedores</a></strong> by CONSTRUCTORA GCG<a>   "ADMINISTRADOR"</a></h1>
  <nav id="nav">
    <ul>
        <li><a >Log Out</a></li>
    </ul>
  </nav>
</header>

<body>
  <h1 class="title">Noticias</h1>
    <div class = "Idontknow">
      <div class="card">
        <img src="img/GCG1" alt="">
        <h4>Mensaje 1</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente neque, dolorum nesciunt eos culpa est optio mollitia veniam corrupti. Ex perspiciatis quis deserunt quos eius veniam vitae suscipit in eaque?</p>
        <a href="#">Leer mas...</a>
      </div>

      <div class="card">
        <img src="img/GCG2" alt="">
        <h4>Mensaje 2</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente neque, dolorum nesciunt eos culpa est optio mollitia veniam corrupti. Ex perspiciatis quis deserunt quos eius veniam vitae suscipit in eaque?</p>
        <a href="#">Leer mas...</a>
      </div>

      <div class="card">
        <img src="img/GCG3" alt="">
        <h4>Mensaje 3</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente neque, dolorum nesciunt eos culpa est optio mollitia veniam corrupti. Ex perspiciatis quis deserunt quos eius veniam vitae suscipit in eaque?</p>
        <a href="#">Leer mas...</a>
      </div>
    </div>

</body>


