<header id="inicio" class="alt">
  <h1><strong><a >Proveedores</a></strong> by CONSTRUCTORA GCG</h1>
  <nav id="nav">
      <ul>
          <li><a >Login</a></li>
          <li><a >Register</a></li>
      </ul>
  </nav>
</header>

<section id="banner">
  <h2>CONSTRUCTORA GCG</h2>
  <p>Construcción, Diseño, Estructuración de proyectos, Interventoria<br /> El aliado para su proyecto</p>
</section>

  <br>
  <br>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur aliquam architecto minima suscipit eligendi maiores dolore reprehenderit animi fugiat, exercitationem doloribus tenetur! Porro illo esse minima laboriosam cupiditate, consectetur at.</p>


