<div class = "container">
  <div class="login">
    <div class="login-triangle"></div>



    <h2 class="login-header">log Up</h2>

    <form #frmLogin="ngForm" class=" login-container" id="form">
      <p>
        <input type="text"
        placeholder="Name"
        class="form-control"
        autocomplete="new-text"
        name="name"
        required>
      </p>
      <p>
        <input
          type="text"
          placeholder="Nit"
          class="form-control"
          autocomplete="nit"
          name="nit"
          required>
      </p>
      <p>
        <input
        type="text"
        class="form-control"
        placeholder="Correo facturacion"
        name="billing_email"
        required
        >
      </p>
      <p>
        <input
          type="number"
          class="form-control"
          autocomplete="numero telefonico"
          placeholder="ingrese su numero"
          name="phoneNumber"
          required
          >
      </p>
      <p>
        <input type="text"
        class="form-control"
        autocomplete="new-text"
        placeholder="ingrese su Dirección"
        name="adress"
        required
      >
      </p>
      <p>
        <input
          type="email"
          class="form-control"
          autocomplete="new-text"
          placeholder="Email"
          name="contac_email"
          required

        >
      </p>
      <p>
        <input
        type="password"
        class="form-control"
        autocomplete="new-text"
        placeholder="Password"
        name="password"
        required>
      </p>
      <p>
        <input
        type="text"
        class="form-control"
        autocomplete="new-text"
        placeholder="Representante Legal"
        name="password"
        required>
      </p>
      <p>
        <input
        type="number"
        class="form-control"
        placeholder="Número de identificación"
        name="id_number"
        required>
      </p>
      <p>

          <select id="usuario" name="usuario">
            <option disable selected>Seleccione el tipo de usuario</option>
            <option value="Service_contractor">Contratista de prestación de servicios</option>
            <option value="Activity_Contractor">Contratista de Actividad</option>
            <option value="Supplier_inputs_services">Proveedor de Insumos o servicios</option>
          </select>
        </p>


      <p>
        <input type="checkbox" name="verification" id="verification1">
        <label for="verification1">Acepto las politicas</label>
      </p>
      <p>
        <input type="submit" placeholder="Log Up">
        <a href="" id="emailA"></a>
      </p>
      <script src="sendemail.js"></script>
    </form>
  </div>
</div>
